body {
  font-family: Trebuchet MS;
  font-size: 18px;
	background: rgb(40,115,217);
  background: linear-gradient(58deg, rgba(50,112,209,1) 0%, rgba(87,34,179,1) 50%, rgba(85,44,128,1) 75%, rgba(78,20,97,1) 100%);
	background-size: 300% 300%;
	animation: gradient 10s ease infinite;
  width: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.credits {
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.textbox{ /* The entire white box */
    filter: drop-shadow(10px 15px 20px #000); 
    background: white;
    border: 4px solid black;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    height: 320px;
    width: 400px;
}

.info {
  position: relative;
  padding: 20px;
}

.interactive { /* The interactive buttons and inputs (should fade out after calculating) */
  position: absolute;
  opacity: 1;
}

.result { /* Text that should appear showing the BMI, calories to gain/lose weight, and a button to return */
  position: relative;
  line-height: 1.3;
  opacity: 0;
  pointer-events: none;
}

.resulttext {
  position: absolute;
  font-size: 16px;
}

.resultbutton {
  position: absolute;
  margin-top: 310px;
  margin-left: 140px;
}
.buttons {
  display: flex;
  justify-content: center;
}

select {
    border: 1px solid black;
    border-radius: 10px;
}

input {
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  transition: 0.3s;
}

input:hover { /* Inverts colours when hovering */
  background: #adadad;
}

button {
    color: black;
    font-family: Trebuchet MS;
    cursor: pointer;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    background: white;
    margin: 4px;
    transition: 0.3s;
}

button:hover { /* Inverts colours when hovering */
  color: white;
  background: black;
}