body {
  font-family: Trebuchet MS;
  font-size: 18px;
	background: rgb(40,115,217);
  background: linear-gradient(58deg, rgba(40,115,217,1) 0%, rgba(114,27,167,1) 60%,   rgba(96,44,128,1) 83%, rgba(45,18,61,1) 100%);
	background-size: 300% 300%;
	animation: gradient 10s ease infinite;
  width: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.credits {
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    resize: none;
}

.textbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 400px;
    background: white;
    border: 2px solid black;
    border-radius: 20px;
}

.interactive {
  opacity: 1;
  padding: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
}

input {
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}

button{
    color: black;
    font-family: Trebuchet MS;
    cursor: pointer;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    background: white;
    margin: 4px;
}